.Add {
    background-color: #413f3f;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 180px;
    margin-right: 50px;
    justify-content: space-between;
}


.items {
    background: transparent;
    align-items: center;
    display: flex;

}

.items img {
    width: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
    /* Add space between images */
}

.items p {
    font-size: 20px;
    margin: -20px 10px 5px ;
    color: #fff;
}

.hidden{
    display: none;
}